.inputContainer{
    width: 300px;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.input{
    width: 100%;
    background-color: white;
    border: 0px;
    height: 25px;
    border-radius: 5px;
    padding-left: 28px;
    padding-right: 28px;
}

.row{
    display: flex;
    flex-direction: row;
}

.label{
    font-size: small;
    color: white;
    text-align: left;
    padding: 5px;
}

.icon{
    position: absolute;
    color: black;
    padding: 3px;
    padding-left: 5px;
}